In [149]:
import pandas as pd
import altair as alt
import os
import warnings
warnings.filterwarnings('ignore')
import sys
from ast import literal_eval
from tqdm import tqdm

sys.path.append("..")
from scripts.data_utils import get_initial_dataset, get_image_sizes, get_local_image_locations

In [150]:
local_files = get_local_image_locations(dir='private_materials/data', output_path='private_materials/datajam_data/local_files.csv')

In [151]:
is_sample = False
merged_df = get_initial_dataset('private_materials/datajam_data/initial_cleaned_sample_dataset.csv', is_sample)

In [152]:
merged_df['file_exists'] = merged_df['file_id'].isin(local_files['file_id'])
# merged_df[merged_df['file_exists'] == True]

In [153]:
merged_df = get_image_sizes(merged_df)

Getting image sizes: 100%|██████████| 39431/39431 [01:25<00:00, 462.40it/s]

In [154]:
merged_df.width.value_counts().reset_index().rename(columns={'index': 'width', 'width': 'counts'})

     width  counts
0    640.0   38064
1    570.0      25
2    580.0      20
3    575.0      19
4    565.0      19
..     ...     ...
165  432.0       1
166  427.0       1
167  472.0       1
168  487.0       1
169  483.0       1

[170 rows x 2 columns]

In [155]:
height_df = merged_df[merged_df.width == 640.0].height.value_counts().reset_index().rename(columns={'index': 'height', 'height': 'counts'})

In [46]:
merged_df[merged_df.height < 320]

,access_restricted,aka,campaigns,contributor,coordinates,date,description,digitized,extract_timestamp,group,...,location_county,split_id,file_id,MD5_hash,data_location,image_filename,file_exists,image_error,width,height
0,False,"['http://www.loc.gov/item/2015651359/', 'http:...",[],['osborn & durbec'],"['32.88856,-80.00751']",1860,['1 photograph : print on card mount ; mount 1...,True,2021-09-01T20:42:24.201Z,"['stereo', 'catalog', 'stereograph-cards', 'ma...",...,NaN,2015651359,2015651359_1s04563r,c79c4397dae6cba80889b007951341b1,s3://data.labs.loc.gov/stereographs/data/20156...,1s04563r,False,False,640.0,319.0
23,False,['http://www.loc.gov/pictures/collection/stere...,[],['hubbard & mix'],NaN,1863,['1 photograph : print on card mount ; mount 8...,True,2021-09-01T20:42:22.849Z,"['stereo', 'catalog', 'stereograph-cards', 'ma...",...,NaN,2015646734,2015646734_1s03947r,d81cac841dbb6345e65bbaf9a889da6b,s3://data.labs.loc.gov/stereographs/data/20156...,1s03947r,False,False,640.0,315.0
27,False,['http://www.loc.gov/pictures/collection/stere...,[],['osborn & durbec'],NaN,1860,['1 photograph : print on card mount ; sheet 8...,True,2021-09-01T20:42:22.412Z,"['stereo', 'catalog', 'stereograph-cards', 'ma...",...,NaN,2015646714,2015646714_1s03928r,d8c915589c64348464bb78e2df998148,s3://data.labs.loc.gov/stereographs/data/20156...,1s03928r,False,False,640.0,315.0
28,False,['http://www.loc.gov/pictures/collection/stere...,[],"['cooley, sam a. (samuel a.)']",NaN,1861,['1 photograph : print on card mount ; mount 1...,True,2021-09-01T20:42:23.302Z,"['stereo', 'catalog', 'stereograph-cards', 'ma...",...,NaN,2015649014,2015649014_1s04470r,96d962651b76ff90668fb2848a1f8078,s3://data.labs.loc.gov/stereographs/data/20156...,1s04470r,False,False,640.0,318.0
57,False,"['http://www.loc.gov/pictures/item/91790656/',...",[],NaN,NaN,1923,"['1 photographic print : stereograph, unmounte...",True,2021-09-01T20:43:18.737Z,"['stereo', 'catalog', 'stereograph-cards', 'ma...",...,NaN,91790656,91790656_3b41838r,c410a1bde953c261cac98d1be9809e4a,s3://data.labs.loc.gov/stereographs/data/91790...,3b41838r,False,False,640.0,316.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39377,False,['http://www.loc.gov/pictures/collection/stere...,[],['e. & h.t. anthony (firm)'],NaN,1865,['1 photographic print on stereo card : stereo...,True,2021-09-01T20:42:12.638Z,"['stereo', 'catalog', 'stereograph-cards', 'ma...",...,NaN,2009631331,2009631331_1s01828r,b76b21e844ab737d2adbdf658c3b9d0d,s3://data.labs.loc.gov/stereographs/data/20096...,1s01828r,False,False,640.0,313.0
39392,False,"['http://lccn.loc.gov/96511373', 'http://www.l...",[],"['chase, w. m. (william m.)']",NaN,1870,"['Section of U.S. Treasury, with fountain in f...",True,2022-08-13T05:09:06.439Z,"['catalog', 'stereo', 'main-catalog', 'stereog...",...,NaN,96511373,96511373_3b38007r,b3590c92aeb5a499bb362a89c31af28f,s3://data.labs.loc.gov/stereographs/data/96511...,3b38007r,False,False,640.0,301.0
39407,False,['http://www.loc.gov/pictures/collection/stere...,[],NaN,"['40.2013888889,-77.1888888889']",1861,['1 photograph : print on card mount ; mount 1...,True,2021-09-01T20:42:27.095Z,"['stereo', 'catalog', 'stereograph-cards', 'ma...",...,NaN,2016648881,2016648881_1s04728r,368629925ed6421c57147475743c6c80,s3://data.labs.loc.gov/stereographs/data/20166...,1s04728r,False,False,640.0,318.0
39416,False,['http://www.loc.gov/pictures/collection/stere...,[],NaN,NaN,1899,['1 photographic print on stereo card : stereo...,True,2021-09-01T20:41:56.372Z,"['stereo', 'catalog', 'stereograph-cards', 'ma...",...,NaN,2002709855,2002709855_3b47592r,19f760ec266d11559a7b173a491582fa,s3://data.labs.loc.gov/stereographs/data/20027...,3b47592r,False,False,640.0,309.0
39417,False,['http://www.loc.gov/pictures/collection/stere...,[],NaN,NaN,1899,['1 photographic print on stereo card : stereo...,True,2021-09-01T20:41:56.372Z,"['stereo', 'catalog', 'stereograph-cards', 'ma...",...,NaN,2002709857,2002709857_3b47594r,166c7ec44563dc916e9191fece1afb97,s3://data.labs.loc.gov/stereographs/data/20027...,3b47594r,False,False,640.0,303.0

In [45]:
from PIL import Image
basewidth = 300
file_path = 'private_materials/data/' + merged_df[merged_df.height == 542.0].file_id.values[0] + '.jpg'
img = Image.open(file_path)
# wpercent = (basewidth/float(img.size[0]))
# hsize = int((float(img.size[1])*float(wpercent)))
# img = img.resize((basewidth,hsize), Image.ANTIALIAS)
img.save('original.jpg')

In [42]:
new_width = 640
new_height = 320
img = img.resize((new_width, new_height), Image.ANTIALIAS)

In [43]:
img.save('test.jpg')

In [ ]:
[[0,0][640, 0][640, 542][0, 542]]

In [ ]:
width, height = img.size
new_height = 320
new_width = 640
aspect_ratio_height = height / new_height
aspect_ratio_width = width / new_width
initial_corners = np.array(points, dtype=np.int32)
new_array = []
for array in initial_corners:
    array_length = len(array)
    for item in array:
        test_array = [item[0] * aspect_ratio_width, item[1]* aspect_ratio_height]
        new_array.append(test_array)

In [40]:
img.size[1]

542

In [32]:
alt.Chart(height_df[height_df.height < 350]).mark_bar().encode(
    x='height',
    y='counts'
)

alt.Chart(...)

In [156]:
unique_vals = merged_df.apply(pd.Series.nunique).reset_index().rename(columns={'index':'column_name', 0:'unique_values'})
unique_vals['total_percent'] = unique_vals['unique_values'] / len(merged_df) * 100

In [157]:
unique_vals['category'] = pd.qcut(unique_vals['total_percent'], 3, labels=["too few", "just right", "too many"])

In [158]:
chart = alt.Chart(unique_vals[unique_vals.total_percent < 10]).mark_bar().encode(
    y=alt.Y('column_name', sort='-x'),
    x='total_percent',
    color='category'
).properties(
    title='Unique Values per Column'
)
chart

alt.Chart(...)

In [159]:
# chart.save('process_notes/total_unique_values.png', scale_factor=2.0)

In [160]:
unique_vals[unique_vals.category == 'just right'].sort_values('column_name')

                     column_name  unique_values  total_percent    category
3                    contributor            745       1.889376  just right
4                    coordinates            521       1.321295  just right
5                           date            171       0.433669  just right
75                         dates            149       0.377875  just right
6                    description           5386      13.659304  just right
8              extract_timestamp            648       1.643377  just right
106                       height            252       0.639091  just right
34              item.call_number          12122      30.742309  just right
35             item.contributors            977       2.477746  just right
38        item.created_published           4548      11.534072  just right
39   item.created_published_date           1978       5.016358  just right
80                  item.creator            235       0.595978  just right
40                 item.creators           1112       2.820116  just right
41                     item.date           1985       5.034110  just right
45                  item.formats            656       1.663666  just right
46                    item.genre            529       1.341584  just right
50                 item.location           2514       6.375694  just right
52                   item.medium            231       0.585833  just right
54                  item.mediums            226       0.573153  just right
89         item.number_former_id            662       1.678882  just right
86              item.other_title            109       0.276432  just right
57                    item.place           2856       7.243032  just right
66           item.source_created           3023       7.666557  just right
90   item.stmt_of_responsibility            208       0.527504  just right
70                  item.summary           4997      12.672770  just right
15                       latlong            521       1.321295  just right
16                      location           2087       5.292790  just right
19                        lonlat            521       1.321295  just right
81                   number_oclc           2845       7.215135  just right
23                   other_title            106       0.268824  just right
24                        partof            644       1.633233  just right
73          related.group_record            664       1.683954  just right
29                       subject          10903      27.650833  just right
30                     timestamp            583       1.478532  just right
105                        width            170       0.431133  just right

In [161]:
final_cols = unique_vals[unique_vals.category == 'just right'].column_name.to_list() + ['locations', 'item.contributor_names', 'item.source_created', 'item.sort_date']

In [162]:
id_cols = ['split_id', 'file_id','MD5_hash','data_location','image_filename', 'id']
cols = id_cols + final_cols
merged_df[cols]

,split_id,file_id,MD5_hash,data_location,image_filename,id,contributor,coordinates,date,description,...,number_oclc,item.other_title,item.number_former_id,item.stmt_of_responsibility,width,height,locations,item.contributor_names,item.source_created,item.sort_date
0,2015651359,2015651359_1s04563r,c79c4397dae6cba80889b007951341b1,s3://data.labs.loc.gov/stereographs/data/20156...,1s04563r,http://www.loc.gov/item/2015651359/,['osborn & durbec'],"['32.88856,-80.00751']",1860,['1 photograph : print on card mount ; mount 1...,...,NaN,NaN,NaN,NaN,640.0,319.0,"[[{'geometry': ['type', 'coordinates'], 'prope...",NaN,2015-10-08 00:00:00,1860.0
1,2019644457,2019644457_1s24718r,e3c201fe357a9055ec660d113d8dc906,s3://data.labs.loc.gov/stereographs/data/20196...,1s24718r,http://www.loc.gov/item/2019644457/,NaN,NaN,1920,['1 photograph : print on card mount ; mount 9...,...,NaN,NaN,NaN,NaN,640.0,332.0,NaN,NaN,2019-08-30T00:00:00Z,1920.0
2,2018652478,2018652478_1s14860r,ef9577ab653c53e8f6da5f99dc7c0944,s3://data.labs.loc.gov/stereographs/data/20186...,1s14860r,http://www.loc.gov/item/2018652478/,['underwood & underwood'],NaN,1902,['1 photograph : print on card mount ; mount 9...,...,NaN,NaN,NaN,NaN,640.0,338.0,NaN,NaN,2018-07-25T00:00:00Z,1902.0
3,2005686578,2005686578_1s07303r,5c7e810407592f59e17e9df260979b82,s3://data.labs.loc.gov/stereographs/data/20056...,1s07303r,http://www.loc.gov/item/2005686578/,"['rau, william herman']",NaN,1904,['1 photograph : print on card mount ; mount 9...,...,NaN,NaN,NaN,NaN,640.0,335.0,NaN,NaN,2017-05-03 00:00:00,1904.0
4,650998,00650998_3c24342r,268b045a0dcdf59561c131a1185da01e,s3://data.labs.loc.gov/stereographs/data/00650...,3c24342r,http://www.loc.gov/item/00650998/,['h.c. white co.'],"['40.3199737,116.2173569']",1902,['1 photographic print on stereo card : stereo...,...,NaN,NaN,NaN,NaN,640.0,517.0,"[[{'geometry': ['type', 'coordinates'], 'prope...",NaN,2000-05-15 00:00:00,1902.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39426,2016652168,2016652168_09982r,c58df313dcd0c951720c6398847ccf6f,s3://data.labs.loc.gov/stereographs/data/20166...,09982r,http://www.loc.gov/item/2016652168/,['american sugar refining company'],NaN,1912,['1 photograph : gelatin silver print ; mount ...,...,NaN,NaN,NaN,NaN,640.0,332.0,NaN,"['American Sugar Refining Company, copyright c...",2016-10-25 00:00:00,1912.0
39427,2016652169,2016652169_09983r,b5699047ab99e90e2de9e0006e577de1,s3://data.labs.loc.gov/stereographs/data/20166...,09983r,http://www.loc.gov/item/2016652169/,['american sugar refining company'],NaN,1912,['1 photograph : gelatin silver print ; mount ...,...,NaN,NaN,NaN,NaN,640.0,329.0,NaN,"['American Sugar Refining Company, copyright c...",2016-10-25 00:00:00,1912.0
39428,2015651861,2015651861_1s04001r,58afd40f24660a9864de3119418ff945,s3://data.labs.loc.gov/stereographs/data/20156...,1s04001r,http://www.loc.gov/item/2015651861/,['keystone view company'],"['36.0813888889,120.344166667']",1923,['1 photograph : gelatin silver print ; mount ...,...,NaN,NaN,NaN,NaN,640.0,330.0,"[[{'geometry': ['type', 'coordinates'], 'prope...","['Keystone View Company, publisher ']",2015-11-13 00:00:00,1923.0
39429,90709159,90709159_3g07090r,9c946f52944558168b239ca756bfc8b5,s3://data.labs.loc.gov/stereographs/data/90709...,3g07090r,http://www.loc.gov/item/90709159/,['international view co.'],"['38.6491,-90.1959']",1904,['1 photographic print on stereo card : stereo...,...,NaN,NaN,NaN,"International View Co., photographers and publ...",640.0,520.0,"[[{'geometry': ['type', 'coordinates'], 'prope...",NaN,1990-05-21 00:00:00,1904.0
39430,93507241,93507241_3c07953r,c7334e2ee72556d40163f4dfd6f023f1,s3://data.labs.loc.gov/stereographs/data/93507...,3c07953r,http://www.loc.gov/item/93507241/,['international view co.'],"['8.86666666667,54.0797222222']",1905,['1 photographic print on stereo card : stereo...,...,NaN,NaN,NaN,NaN,640.0,511.0,"[[{'geometry': ['type', 'coordinates'], 'prope...",NaN,1993-06-02 00:00:00,1905.0

### Explore Subject Headings

In [163]:
subject_df = merged_df[['id', 'item.subject_headings', 'subject', 'item.genre']]

In [164]:
subject_df.fillna('[]', inplace=True)
subject_df.loc[subject_df.subject == 'nan', 'subject'] = '[]'

In [165]:
subject_df['item.subject_headings'] = subject_df['item.subject_headings'].apply(literal_eval)
subject_df['subject'] = subject_df['subject'].apply(literal_eval)
subject_df['item.genre'] = subject_df['item.genre'].apply(literal_eval)

In [166]:
exploded_subject_df = subject_df.explode('subject')
exploded_heading_df = subject_df.explode('item.subject_headings')
exploded_genre_df = subject_df.explode('item.genre')

In [167]:
len(exploded_subject_df['subject'].unique().tolist()), len(exploded_heading_df['item.subject_headings'].unique().tolist()), len(exploded_genre_df['item.genre'].unique().tolist())

(6053, 20803, 421)

In [168]:
genre_values = exploded_genre_df['item.genre'].value_counts().reset_index().rename(columns={'index':'genre', 'item.genre':'counts'})

In [169]:
genre_values

                                            genre  counts
0                         Stereographs--1900-1910   17136
1                  Photographic prints--1900-1910   17059
2                         Stereographs--1890-1900    4744
3                  Photographic prints--1890-1900    4723
4                              Stereographs--1900    1808
..                                            ...     ...
415              Landscape photographs--1870-1880       1
416                Photographic prints--1850-1880       1
417                       Stereographs--1850-1880       1
418  Photographic prints--Hand-colored--1890-1900       1
419                     Advertisements--1870-1880       1

[420 rows x 2 columns]

In [170]:
subject_values = exploded_subject_df.subject.value_counts().reset_index().rename(columns={'index':'subject', 'subject':'counts'})

In [171]:
subject_values['total_percent'] = subject_values['counts'] / len(merged_df) * 100

In [172]:
alt.data_transformers.disable_max_rows()
alt.Chart(subject_values[(subject_values.total_percent < 9) & (subject_values.total_percent > 0.5)]).mark_bar().encode(
    y=alt.Y('subject', sort='-x'),
    x='total_percent'
).properties(
    title='Subject Values'
)

alt.Chart(...)

### Explore Dates

In [173]:
date_cols = [ col for col in final_cols if ('date' in col) or ('created' in col)]
date_cols

['date',
 'item.created_published',
 'item.created_published_date',
 'item.date',
 'item.source_created',
 'dates',
 'item.source_created',
 'item.sort_date']

In [174]:
merged_df['dates'] = merged_df.dates.fillna('[]')
merged_df['dates'] = merged_df.dates.apply(literal_eval)

In [201]:
exploded_dates = merged_df[['id', 'dates', 'date', 'item.date']].explode('dates')

In [202]:
exploded_dates['updated_item_date'] = exploded_dates['item.date'].str.extract(r'(\d{4})')

In [296]:
exploded_dates['str_dates'] = exploded_dates.dates.str.split('T').str[0]
exploded_dates[['year', 'month', 'day']] = exploded_dates.str_dates.str.split('-', expand=True)

In [300]:
exploded_dates.date.unique()

array([1860, 1920, 1902, 1904, 1903, 1901, 1906, 1881, 1900, 1897, 1907,
       1865, 1871, 1861, 1858, 1863, 1870, 1910, 1889, 1919, 1908, 1899,
       1924, 1923, 1892, 1882, 1885, 1867, 1895, 1876, 1893, 1909, 1911,
       1917, 1905, 1916, 1884, 1898, 1921, 1890, 1896, 1913, 1915, 1877,
       1879, 1891, 1918, 1914, 1894, 1888, 1866, 1872, 1878, 1912, 1862,
       1874, 1886, 1922, 1873, 1880, 1868, 1875, 1852, 1887, 1859, 1869,
       1864, 1883, 1855, 1850, '1902', '1890', '1908', '1915', '1900',
       '1910', '1896', '1913', '1850', '1905', '1899', '1897', '1903',
       '1898', '1907', '1901', '1906', '1916', '1860', '1870', '1861',
       '1876', '1865', '1867', '1904', '1858', '1912', '1909', '1914',
       '1874', '1920', '1919', '1917', '1882', '1921', '1889', '1875',
       '1911', '1922', '1871', '1892', '1893', '1880', '1864', '1923',
       '1924', '1894', '1895', '1918', '1886', '1869', '1888', '1885',
       '1863', '1878', '1862', '1868', '1873', '1872', '1881', '1887',
       '1891', '1883', '1856', '1866', '1855', '1859', '1877',
       '1858-08-25', '1858-08-26', '1858-08-23', '1858-08-22',
       '1858-08-21', '1858-08-27', '1858-09-02', '1858-09-03',
       '1858-09-04', '1858-09-01', '1858-08-30', '1858-08-31',
       '1858-09-05', '1858-08-28', '1858-08-29', '1858-08-19',
       '1858-08-20', '1858-08-18', '1858-08-11', '1858-08-14',
       '1858-08-15', '1858-08-17', '1879', '1858-08-12', '1858-09-06',
       '1858-09-07', '1884', '1830', 1857, 1856, 1928, 1927, 1843],
      dtype=object)

In [298]:
exploded_dates[exploded_dates.date != exploded_dates.updated_item_date]

,id,dates,date,item.date,updated_item_date,str_dates,year,month,day
0,http://www.loc.gov/item/2015651359/,NaN,1860,[ca. 1860],1860,NaN,NaN,NaN,NaN
1,http://www.loc.gov/item/2019644457/,1920-01-01T00:00:00Z,1920,c1920.,1920,1920-01-01,1920,01,01
2,http://www.loc.gov/item/2018652478/,1902-01-01T00:00:00Z,1902,c1902 Mar 15.,1902,1902-01-01,1902,01,01
3,http://www.loc.gov/item/2005686578/,1904-01-01T00:00:00Z,1904,[1904],1904,1904-01-01,1904,01,01
3,http://www.loc.gov/item/2005686578/,1903-01-01T00:00:00Z,1904,[1904],1904,1903-01-01,1903,01,01
...,...,...,...,...,...,...,...,...,...
39426,http://www.loc.gov/item/2016652168/,1912-01-01T00:00:00Z,1912,[1912],1912,1912-01-01,1912,01,01
39427,http://www.loc.gov/item/2016652169/,1912-01-01T00:00:00Z,1912,[1912],1912,1912-01-01,1912,01,01
39428,http://www.loc.gov/item/2015651861/,NaN,1923,"[photographed between 1899 and 1901, published...",1899,NaN,NaN,NaN,NaN
39429,http://www.loc.gov/item/90709159/,NaN,1904,"[1904], c1905.",1904,NaN,NaN,NaN,NaN
39430,http://www.loc.gov/item/93507241/,NaN,1905,c1905.,1905,NaN,NaN,NaN,NaN

In [239]:
def clean_dates(rows):
    if len(rows) > 1:
        cleaned_date = rows['dates'].sort_values()[0:1] if rows.dates.isna().any() else rows.date.sort_values()[0:1]
        rows = rows[0:1]
    else:
        cleaned_date = rows.date if rows.dates.isna().any() else rows.dates
    cleaned_date = pd.to_datetime(cleaned_date, errors='coerce', format='%Y-%m-%d')
    cleaned_year = int(cleaned_date.dt.year)
    if rows.updated_item_date.isna().any() == False:
        check_year = int(rows.updated_item_date)
        check_date = pd.to_datetime(rows.updated_item_date, errors='coerce', format='%Y-%m-%d')
        cleaned_date = cleaned_date if cleaned_year < check_year else check_date
    df = pd.DataFrame({'cleaned_date':cleaned_date})
    return df
tqdm.pandas(desc="cleaning dates")
test_dates = exploded_dates.groupby('id').progress_apply(clean_dates)

cleaning dates: 100%|██████████| 39430/39430 [04:20<00:00, 151.61it/s]

In [295]:
exploded_dates

,id,dates,date,item.date,updated_item_date,str_dates,year,month,day
0,http://www.loc.gov/item/2015651359/,NaN,1860,[ca. 1860],1860,NaN,NaN,NaN,NaN
1,http://www.loc.gov/item/2019644457/,1920-01-01T00:00:00Z,1920,c1920.,1920,1920-01-01,1920,01,01
2,http://www.loc.gov/item/2018652478/,1902-01-01T00:00:00Z,1902,c1902 Mar 15.,1902,1902-01-01,1902,01,01
3,http://www.loc.gov/item/2005686578/,1904-01-01T00:00:00Z,1904,[1904],1904,1904-01-01,1904,01,01
3,http://www.loc.gov/item/2005686578/,1903-01-01T00:00:00Z,1904,[1904],1904,1903-01-01,1903,01,01
...,...,...,...,...,...,...,...,...,...
39426,http://www.loc.gov/item/2016652168/,1912-01-01T00:00:00Z,1912,[1912],1912,1912-01-01,1912,01,01
39427,http://www.loc.gov/item/2016652169/,1912-01-01T00:00:00Z,1912,[1912],1912,1912-01-01,1912,01,01
39428,http://www.loc.gov/item/2015651861/,NaN,1923,"[photographed between 1899 and 1901, published...",1899,NaN,NaN,NaN,NaN
39429,http://www.loc.gov/item/90709159/,NaN,1904,"[1904], c1905.",1904,NaN,NaN,NaN,NaN
39430,http://www.loc.gov/item/93507241/,NaN,1905,c1905.,1905,NaN,NaN,NaN,NaN

In [240]:
test_dates = test_dates.droplevel(1).reset_index()

In [242]:
updated_dates = test_dates.copy()

In [266]:
updated_dates['str_date'] =updated_dates.cleaned_date.astype(str).str.replace('00:00:00', '')
updated_dates.str_date = updated_dates.str_date.str.split(' ').str[0]

In [279]:
exploded_dates[exploded_dates.id == 'http://www.loc.gov/item/2020684182/']

,id,dates,date,item.date,updated_item_date
16306,http://www.loc.gov/item/2020684182/,1902-01-01T00:00:00Z,1902,1092.,1092

In [280]:
updated_dates.loc[updated_dates.id == 'http://www.loc.gov/item/2013647698/', 'cleaned_dates'] = '1904-01-01'
updated_dates.loc[updated_dates.id == 'http://www.loc.gov/item/2020684182/', 'cleaned_dates'] = '1902-01-01'

In [276]:
updated_dates[updated_dates.str_date == 'nan']

                                        id cleaned_date str_date final_date
6591   http://www.loc.gov/item/2013647698/          NaN      nan        NaT
29465  http://www.loc.gov/item/2020684182/          NaN      nan        NaT

In [283]:
updated_dates.str_date.unique()

array(['1903-01-01', '1895-01-01', '1902-01-01', '1906-01-01',
       '1905-01-01', '1919-01-01', '1907-01-01', '1900-01-01',
       '1862-01-01', '1870-01-01', '1879-01-01', '1890-01-01',
       '1891-01-01', '1899-01-01', '1897-01-01', '1898-01-01',
       '1915-01-01', '1896-01-01', '1904-01-01', '1909-01-01',
       '1889-01-01', '1908-01-01', '1901-01-01', '1914-01-01',
       '1876-01-01', '1880-01-01', '1861-01-01', '1918-01-01',
       '1911-01-01', '1917-01-01', '1866-01-01', '1873-01-01',
       '1872-01-01', '1860-01-01', '1923-01-01', '1913-01-01',
       '1910-01-01', '1916-01-01', '1922-01-01', '1867-01-01',
       '1894-01-01', '1920-01-01', '1885-01-01', '1871-01-01',
       '1892-01-01', '1888-01-01', '1878-01-01', '1912-01-01',
       '1884-01-01', '1874-01-01', '1893-01-01', '1921-01-01',
       '1868-01-01', '1887-01-01', '1865-01-01', '1882-01-01',
       '1877-01-01', '1875-01-01', '1852-01-01', '1864-01-01',
       '1843-01-01', '1970-01-01', '1859-01-01', '1886-01-01',
       '1863-01-01', '1924-01-01', '1869-01-01', '1961-01-01',
       '1881-01-01', 'nan', '1958-01-01', '1883-01-01', '1850-01-01',
       '1927-01-01', '1928-01-01', '1858-01-01', '1857-01-01',
       '1856-01-01', '1855-01-01', '1830-01-01'], dtype=object)

In [281]:
updated_dates['final_date'] = pd.to_datetime(updated_dates.str_date, errors='ignore', format='%Y-%m-%d')

In [282]:
updated_dates.final_date

0       NaT
1       NaT
2       NaT
3       NaT
4       NaT
         ..
39425   NaT
39426   NaT
39427   NaT
39428   NaT
39429   NaT
Name: str_date, Length: 39430, dtype: datetime64[ns, UTC]

In [265]:
pd.to_datetime(updated_dates.str_date, errors='coerce', format='%Y-%m-%d').dt.date

0        1903-01-01
1        1895-01-01
2        1902-01-01
3        1906-01-01
4        1906-01-01
            ...
39425    1897-01-01
39426    1906-01-01
39427    1900-01-01
39428    1901-01-01
39429    1898-01-01
Name: str_date, Length: 39430, dtype: object

In [135]:
merged_df = merged_df.merge(updated_dates, on='id', how='left')

In [258]:
alt.Chart(updated_dates).mark_bar().encode(
    x=alt.X('final_date:T'),
    y='count()'
).properties(
    title='Date Values'
)

TypeError: Object of type Timestamp is not JSON serializable

alt.Chart(...)

In [138]:
merged_df[merged_df.cleaned_date > '1960-01-01'][0:1].to_dict()

{'access_restricted': {0: False},
 'aka': {0: "['http://www.loc.gov/item/2015651359/', 'http://www.loc.gov/pictures/item/2015651359/', 'http://www.loc.gov/pictures/collection/stereo/item/2015651359/', 'http://hdl.loc.gov/loc.pnp/stereo.1s04563', 'http://hdl.loc.gov/loc.pnp/stereo.2s04563', 'http://www.loc.gov/resource/stereo.1s04563/', 'http://www.loc.gov/resource/stereo.2s04563/', 'http://lccn.loc.gov/2015651359']"},
 'campaigns': {0: '[]'},
 'contributor': {0: "['osborn & durbec']"},
 'coordinates': {0: "['32.88856,-80.00751']"},
 'date': {0: 1860},
 'description': {0: "['1 photograph : print on card mount ; mount 17 x 8 cm (stereograph format) | Photograph shows a street view of Institute Hall, known as Secession Hall, flanked on the left by the Circular Church and on the right by the Teetotal restaurant.']"},
 'digitized': {0: True},
 'extract_timestamp': {0: '2021-09-01T20:42:24.201Z'},
 'group': {0: "['stereo', 'catalog', 'stereograph-cards', 'main-catalog']"},
 'hassegments': {0: False},
 'id': {0: 'http://www.loc.gov/item/2015651359/'},
 'image_url': {0: "['https://tile.loc.gov/storage-services/service/pnp/stereo/1s00000/1s04000/1s04500/1s04563_150px.jpg', 'https://tile.loc.gov/storage-services/service/pnp/stereo/1s00000/1s04000/1s04500/1s04563r.jpg#h=319&w=640', 'https://tile.loc.gov/storage-services/service/pnp/stereo/1s00000/1s04000/1s04500/1s04563v.jpg#h=511&w=1024']"},
 'index': {0: 1},
 'language': {0: "['english']"},
 'latlong': {0: '[32.88856, -80.00751]'},
 'location': {0: "['south carolina', 'charleston', 'united states']"},
 'location_str': {0: nan},
 'locations': {0: "[[{'geometry': ['type', 'coordinates'], 'properties': ['is_composite', 'name', 'area', 'importance', 'is_primary', 'alternate', 'id', 'admin', 'feature_code', 'feature_code_name', 'timeframe', 'uris', 'population'], 'type': 'Feature'}]]"},
 'lonlat': {0: '[-80.00751, 32.88856]'},
 'mime_type': {0: "['image/gif', 'image/jpg', 'image/tif', 'image/jpeg']"},
 'online_format': {0: "['image']"},
 'original_format': {0: "['photo, print, drawing']"},
 'other_title': {0: '[]'},
 'partof': {0: "['//www.loc.gov/pictures/search/?q=lot 14110', 'catalog', 'stereograph cards', 'civil war', 'prints and photographs division']"},
 'reproductions': {0: '<p>If an image is displaying, you can download it yourself. (Some images \ndisplay only as thumbnails outside the Library of Congress because of rights \nconsiderations, but you have access to larger size images on site.)\n</p>\n\n<p>  \nAlternatively, you can purchase copies of various types through Library \nof Congress Duplication Services</a>.\n</p>\n\n<p> \n<ol>\n<p>\n<li><strong>If a digital image is displaying:</strong> The qualities of the digital image \npartially depend on whether it was made from the original or an \nintermediate such as a copy negative or transparency. If the Reproduction \nNumber field above includes a reproduction number that starts with \nLC-DIG..., then there is a digital image that was made directly \nfrom the original and is of sufficient resolution for most publication\n purposes.\n</li> \n</p>\n\n<li><strong>If there is information listed in the Reproduction Number field above:</strong> \nYou can use the reproduction number to purchase a copy from Duplication \nServices.  It will be made from the source listed in the parentheses after\n the number.  \n<p> \nIf only black-and-white (&quot;b&w&quot;) sources are listed and you \n desire a copy showing color or tint (assuming the original has any), \n you can generally purchase a quality copy of the original in color by \n citing the Call Number listed above and including the catalog record \n (&quot;About This Item&quot;) with your request.\n </p>\n</li>\n\n<li><strong>If there is no information listed in the Reproduction Number field \nabove:</strong> You can generally purchase a quality copy through \nDuplication Services. Cite the Call Number listed above and include the catalog record (&quot;About This Item&quot;) with \n your request.\n</li>\n</ol>\n</p>\n\n<p> \nPrice lists, contact information, and order forms are available on the\n <a href="//lcweb.loc.gov/preserv/pds/">Duplication Services Web site</a>.  \n</p>\n\n\n\n'},
 'resources': {0: "[{'files': 1, 'image': 'https://tile.loc.gov/storage-services/service/pnp/stereo/1s00000/1s04000/1s04500/1s04563_150px.jpg', 'url': 'https://www.loc.gov/resource/stereo.1s04563/'}, {'files': 1, 'image': 'https://tile.loc.gov/storage-services/service/pnp/stereo/2s00000/2s04000/2s04500/2s04563_150px.jpg', 'url': 'https://www.loc.gov/resource/stereo.2s04563/'}]"},
 'shelf_id': {0: 'LOT 14110-11, no. 58 [P&P]'},
 'site': {0: "['pictures', 'catalog']"},
 'subject': {0: "['photographic prints', 'civil war', 'united states', 'south carolina', 'charleston', 'stereographs', 'history']"},
 'timestamp': {0: '2021-09-04T14:18:51.417Z'},
 'title': {0: 'Institute Hall - known as Secession Hall'},
 'unrestricted': {0: True},
 'url': {0: 'https://www.loc.gov/item/2015651359/'},
 'item.call_number': {0: 'LOT 14110-11, no. 58 [P&P]'},
 'item.contributors': {0: "['Osborn & Durbec, photographer.']"},
 'item.control_number': {0: 2015651359.0},
 'item.created': {0: '2015-10-27 05:40:40'},
 'item.created_published': {0: 'Charleston, S.C. : G.N. Barnard, no 263 King Street [ca. 1860]'},
 'item.created_published_date': {0: '[ca. 1860]'},
 'item.creators': {0: "[{'link': '//www.loc.gov/pictures/related/?fi=name&q=Osborn%20%26%20Durbec&co=stereo', 'role': 'photographer', 'title': 'Osborn & Durbec'}]"},
 'item.date': {0: '[ca. 1860]'},
 'item.digital_id': {0: "['stereo 1s04563 //hdl.loc.gov/loc.pnp/stereo.1s04563', 'stereo 2s04563 //hdl.loc.gov/loc.pnp/stereo.2s04563']"},
 'item.display_offsite': {0: True},
 'item.format': {0: "['still image']"},
 'item.formats': {0: "[{'link': '//www.loc.gov/pictures/related/?fi=format&q=Photographic%20prints--1860-1870.&co=stereo', 'title': 'Photographic prints--1860-1870.'}, {'link': '//www.loc.gov/pictures/related/?fi=format&q=Stereographs--1860-1870.&co=stereo', 'title': 'Stereographs--1860-1870.'}]"},
 'item.genre': {0: "['Stereographs--1860-1870', 'Photographic prints--1860-1870']"},
 'item.id': {0: 2015651359.0},
 'item.language': {0: "['eng']"},
 'item.link': {0: '//www.loc.gov/pictures/item/2015651359/'},
 'item.location': {0: "['United States--South Carolina--Charleston']"},
 'item.marc': {0: '//www.loc.gov/pictures/item/2015651359/marc/'},
 'item.medium': {0: "['1 photograph : print on card mount ; mount 17 x 8 cm (stereograph format)']"},
 'item.medium_brief': {0: '1 photograph :'},
 'item.mediums': {0: "['1 photograph : print on card mount ; mount 17 x 8 cm (stereograph format)']"},
 'item.modified': {0: '2015-10-27 05:40:40'},
 'item.notes': {0: '[\'Purchase; Robin Stanford; 2015; (DLC/PP-2015:022).\', \'Title from item.\', \'Part of series: "South Carolina Views."\', \'Photographer attribution from Teal, Harvey S. Partners with the sun: South Carolina Photographers, 1840-1940. Columbia: University of South Carolina Press, 2001, p. 95.\', \'Forms part of: The Robin G. Stanford Collection.\', \'Digitized 2015 Funding from Center for Civil War Photography.\']'},
 'item.place': {0: "[{'latitude': '', 'link': '//www.loc.gov/pictures/related/?fi=place&q=South%20Carolina--Charleston&co=stereo', 'longitude': '', 'title': 'South Carolina--Charleston'}]"},
 'item.repository': {0: 'Library of Congress Prints and Photographs Division Washington, D.C. 20540 USA http://hdl.loc.gov/loc.pnp/pp.print'},
 'item.reproduction_number': {0: 'LC-DIG-stereo-1s04563 (digital file from original item, front)\nLC-DIG-stereo-2s04563 (digital file from original item, back)'},
 'item.resource_links': {0: "['//hdl.loc.gov/loc.pnp/stereo.1s04563', '//hdl.loc.gov/loc.pnp/stereo.2s04563']"},
 'item.rights_advisory': {0: 'No known restrictions on publication.'},
 'item.rights_information': {0: 'No known restrictions on publication.'},
 'item.service_low': {0: 'https://tile.loc.gov/storage-services/service/pnp/stereo/1s00000/1s04000/1s04500/1s04563_150px.jpg'},
 'item.service_medium': {0: 'https://tile.loc.gov/storage-services/service/pnp/stereo/1s00000/1s04000/1s04500/1s04563r.jpg'},
 'item.sort_date': {0: 1860.0},
 'item.source_created': {0: '2015-10-08 00:00:00'},
 'item.source_modified': {0: '2015-10-13 11:43:04'},
 'item.subject_headings': {0: "['United States--History--Civil War, 1861-1865,--South Carolina--Charleston', 'South Carolina--Charleston']"},
 'item.subjects': {0: "['United States--History--Civil War, 1861-1865,--South Carolina--Charleston']"},
 'item.summary': {0: 'Photograph shows a street view of Institute Hall, known as Secession Hall, flanked on the left by the Circular Church and on the right by the Teetotal restaurant.'},
 'item.thumb_gallery': {0: 'https://tile.loc.gov/storage-services/service/pnp/stereo/1s00000/1s04000/1s04500/1s04563_150px.jpg'},
 'item.title': {0: 'Institute Hall - known as Secession Hall'},
 'related.group_record': {0: '//www.loc.gov/pictures/search/?q=LOT 14110&fi=number&op=PHRASE&va=exact&co=coll&sg=true'},
 'related.neighbors': {0: '//www.loc.gov/pictures/related/?&co=stereo&pk=2015651359&st=gallery&sb=call_number#focus'},
 'dates': {0: []},
 'number': {0: nan},
 'number_former_id': {0: nan},
 'number_lccn': {0: nan},
 'item.other_control_numbers': {0: nan},
 'item.creator': {0: nan},
 'number_oclc': {0: nan},
 'number_carrier_type': {0: nan},
 'number_source_modified': {0: nan},
 'type': {0: nan},
 'item.raw_collections': {0: nan},
 'item.other_title': {0: nan},
 'item.access_advisory': {0: nan},
 'item.restriction': {0: nan},
 'item.number_former_id': {0: nan},
 'item.stmt_of_responsibility': {0: nan},
 'item.contributor_names': {0: nan},
 'item.part_of': {0: nan},
 'item.source_collection': {0: nan},
 'location_city': {0: nan},
 'location_country': {0: nan},
 'location_state': {0: nan},
 'location_county': {0: nan},
 'split_id': {0: 2015651359},
 'file_id': {0: '2015651359_1s04563r'},
 'MD5_hash': {0: 'c79c4397dae6cba80889b007951341b1'},
 'data_location': {0: 's3://data.labs.loc.gov/stereographs/data/2015651359_1s04563r.jpg'},
 'image_filename': {0: '1s04563r'},
 'file_exists': {0: False},
 'image_error': {0: False},
 'width': {0: 640.0},
 'height': {0: 319.0},
 'cleaned_date_x': {0: datetime.date(1970, 1, 1)},
 'cleaned_date_y': {0: Timestamp('1970-01-01 00:00:00.000001860')},
 'cleaned_date': {0: Timestamp('1970-01-01 00:00:00')}}

### Explore Image Sizes

In [142]:
from PIL import Image

im = Image.open('private_materials/data/00649686_3c24329r.jpg')
width, height = im.size

In [143]:
width, height

(640, 515)

In [144]:
test_df = merged_df[0:1]

In [147]:
test_df[0:1].to_dict()

{'access_restricted': {0: False},
 'aka': {0: "['http://www.loc.gov/item/2015651359/', 'http://www.loc.gov/pictures/item/2015651359/', 'http://www.loc.gov/pictures/collection/stereo/item/2015651359/', 'http://hdl.loc.gov/loc.pnp/stereo.1s04563', 'http://hdl.loc.gov/loc.pnp/stereo.2s04563', 'http://www.loc.gov/resource/stereo.1s04563/', 'http://www.loc.gov/resource/stereo.2s04563/', 'http://lccn.loc.gov/2015651359']"},
 'campaigns': {0: '[]'},
 'contributor': {0: "['osborn & durbec']"},
 'coordinates': {0: "['32.88856,-80.00751']"},
 'date': {0: 1860},
 'description': {0: "['1 photograph : print on card mount ; mount 17 x 8 cm (stereograph format) | Photograph shows a street view of Institute Hall, known as Secession Hall, flanked on the left by the Circular Church and on the right by the Teetotal restaurant.']"},
 'digitized': {0: True},
 'extract_timestamp': {0: '2021-09-01T20:42:24.201Z'},
 'group': {0: "['stereo', 'catalog', 'stereograph-cards', 'main-catalog']"},
 'hassegments': {0: False},
 'id': {0: 'http://www.loc.gov/item/2015651359/'},
 'image_url': {0: "['https://tile.loc.gov/storage-services/service/pnp/stereo/1s00000/1s04000/1s04500/1s04563_150px.jpg', 'https://tile.loc.gov/storage-services/service/pnp/stereo/1s00000/1s04000/1s04500/1s04563r.jpg#h=319&w=640', 'https://tile.loc.gov/storage-services/service/pnp/stereo/1s00000/1s04000/1s04500/1s04563v.jpg#h=511&w=1024']"},
 'index': {0: 1},
 'language': {0: "['english']"},
 'latlong': {0: '[32.88856, -80.00751]'},
 'location': {0: "['south carolina', 'charleston', 'united states']"},
 'location_str': {0: nan},
 'locations': {0: "[[{'geometry': ['type', 'coordinates'], 'properties': ['is_composite', 'name', 'area', 'importance', 'is_primary', 'alternate', 'id', 'admin', 'feature_code', 'feature_code_name', 'timeframe', 'uris', 'population'], 'type': 'Feature'}]]"},
 'lonlat': {0: '[-80.00751, 32.88856]'},
 'mime_type': {0: "['image/gif', 'image/jpg', 'image/tif', 'image/jpeg']"},
 'online_format': {0: "['image']"},
 'original_format': {0: "['photo, print, drawing']"},
 'other_title': {0: '[]'},
 'partof': {0: "['//www.loc.gov/pictures/search/?q=lot 14110', 'catalog', 'stereograph cards', 'civil war', 'prints and photographs division']"},
 'reproductions': {0: '<p>If an image is displaying, you can download it yourself. (Some images \ndisplay only as thumbnails outside the Library of Congress because of rights \nconsiderations, but you have access to larger size images on site.)\n</p>\n\n<p>  \nAlternatively, you can purchase copies of various types through Library \nof Congress Duplication Services</a>.\n</p>\n\n<p> \n<ol>\n<p>\n<li><strong>If a digital image is displaying:</strong> The qualities of the digital image \npartially depend on whether it was made from the original or an \nintermediate such as a copy negative or transparency. If the Reproduction \nNumber field above includes a reproduction number that starts with \nLC-DIG..., then there is a digital image that was made directly \nfrom the original and is of sufficient resolution for most publication\n purposes.\n</li> \n</p>\n\n<li><strong>If there is information listed in the Reproduction Number field above:</strong> \nYou can use the reproduction number to purchase a copy from Duplication \nServices.  It will be made from the source listed in the parentheses after\n the number.  \n<p> \nIf only black-and-white (&quot;b&w&quot;) sources are listed and you \n desire a copy showing color or tint (assuming the original has any), \n you can generally purchase a quality copy of the original in color by \n citing the Call Number listed above and including the catalog record \n (&quot;About This Item&quot;) with your request.\n </p>\n</li>\n\n<li><strong>If there is no information listed in the Reproduction Number field \nabove:</strong> You can generally purchase a quality copy through \nDuplication Services. Cite the Call Number listed above and include the catalog record (&quot;About This Item&quot;) with \n your request.\n</li>\n</ol>\n</p>\n\n<p> \nPrice lists, contact information, and order forms are available on the\n <a href="//lcweb.loc.gov/preserv/pds/">Duplication Services Web site</a>.  \n</p>\n\n\n\n'},
 'resources': {0: "[{'files': 1, 'image': 'https://tile.loc.gov/storage-services/service/pnp/stereo/1s00000/1s04000/1s04500/1s04563_150px.jpg', 'url': 'https://www.loc.gov/resource/stereo.1s04563/'}, {'files': 1, 'image': 'https://tile.loc.gov/storage-services/service/pnp/stereo/2s00000/2s04000/2s04500/2s04563_150px.jpg', 'url': 'https://www.loc.gov/resource/stereo.2s04563/'}]"},
 'shelf_id': {0: 'LOT 14110-11, no. 58 [P&P]'},
 'site': {0: "['pictures', 'catalog']"},
 'subject': {0: "['photographic prints', 'civil war', 'united states', 'south carolina', 'charleston', 'stereographs', 'history']"},
 'timestamp': {0: '2021-09-04T14:18:51.417Z'},
 'title': {0: 'Institute Hall - known as Secession Hall'},
 'unrestricted': {0: True},
 'url': {0: 'https://www.loc.gov/item/2015651359/'},
 'item.call_number': {0: 'LOT 14110-11, no. 58 [P&P]'},
 'item.contributors': {0: "['Osborn & Durbec, photographer.']"},
 'item.control_number': {0: 2015651359.0},
 'item.created': {0: '2015-10-27 05:40:40'},
 'item.created_published': {0: 'Charleston, S.C. : G.N. Barnard, no 263 King Street [ca. 1860]'},
 'item.created_published_date': {0: '[ca. 1860]'},
 'item.creators': {0: "[{'link': '//www.loc.gov/pictures/related/?fi=name&q=Osborn%20%26%20Durbec&co=stereo', 'role': 'photographer', 'title': 'Osborn & Durbec'}]"},
 'item.date': {0: '[ca. 1860]'},
 'item.digital_id': {0: "['stereo 1s04563 //hdl.loc.gov/loc.pnp/stereo.1s04563', 'stereo 2s04563 //hdl.loc.gov/loc.pnp/stereo.2s04563']"},
 'item.display_offsite': {0: True},
 'item.format': {0: "['still image']"},
 'item.formats': {0: "[{'link': '//www.loc.gov/pictures/related/?fi=format&q=Photographic%20prints--1860-1870.&co=stereo', 'title': 'Photographic prints--1860-1870.'}, {'link': '//www.loc.gov/pictures/related/?fi=format&q=Stereographs--1860-1870.&co=stereo', 'title': 'Stereographs--1860-1870.'}]"},
 'item.genre': {0: "['Stereographs--1860-1870', 'Photographic prints--1860-1870']"},
 'item.id': {0: 2015651359.0},
 'item.language': {0: "['eng']"},
 'item.link': {0: '//www.loc.gov/pictures/item/2015651359/'},
 'item.location': {0: "['United States--South Carolina--Charleston']"},
 'item.marc': {0: '//www.loc.gov/pictures/item/2015651359/marc/'},
 'item.medium': {0: "['1 photograph : print on card mount ; mount 17 x 8 cm (stereograph format)']"},
 'item.medium_brief': {0: '1 photograph :'},
 'item.mediums': {0: "['1 photograph : print on card mount ; mount 17 x 8 cm (stereograph format)']"},
 'item.modified': {0: '2015-10-27 05:40:40'},
 'item.notes': {0: '[\'Purchase; Robin Stanford; 2015; (DLC/PP-2015:022).\', \'Title from item.\', \'Part of series: "South Carolina Views."\', \'Photographer attribution from Teal, Harvey S. Partners with the sun: South Carolina Photographers, 1840-1940. Columbia: University of South Carolina Press, 2001, p. 95.\', \'Forms part of: The Robin G. Stanford Collection.\', \'Digitized 2015 Funding from Center for Civil War Photography.\']'},
 'item.place': {0: "[{'latitude': '', 'link': '//www.loc.gov/pictures/related/?fi=place&q=South%20Carolina--Charleston&co=stereo', 'longitude': '', 'title': 'South Carolina--Charleston'}]"},
 'item.repository': {0: 'Library of Congress Prints and Photographs Division Washington, D.C. 20540 USA http://hdl.loc.gov/loc.pnp/pp.print'},
 'item.reproduction_number': {0: 'LC-DIG-stereo-1s04563 (digital file from original item, front)\nLC-DIG-stereo-2s04563 (digital file from original item, back)'},
 'item.resource_links': {0: "['//hdl.loc.gov/loc.pnp/stereo.1s04563', '//hdl.loc.gov/loc.pnp/stereo.2s04563']"},
 'item.rights_advisory': {0: 'No known restrictions on publication.'},
 'item.rights_information': {0: 'No known restrictions on publication.'},
 'item.service_low': {0: 'https://tile.loc.gov/storage-services/service/pnp/stereo/1s00000/1s04000/1s04500/1s04563_150px.jpg'},
 'item.service_medium': {0: 'https://tile.loc.gov/storage-services/service/pnp/stereo/1s00000/1s04000/1s04500/1s04563r.jpg'},
 'item.sort_date': {0: 1860.0},
 'item.source_created': {0: '2015-10-08 00:00:00'},
 'item.source_modified': {0: '2015-10-13 11:43:04'},
 'item.subject_headings': {0: "['United States--History--Civil War, 1861-1865,--South Carolina--Charleston', 'South Carolina--Charleston']"},
 'item.subjects': {0: "['United States--History--Civil War, 1861-1865,--South Carolina--Charleston']"},
 'item.summary': {0: 'Photograph shows a street view of Institute Hall, known as Secession Hall, flanked on the left by the Circular Church and on the right by the Teetotal restaurant.'},
 'item.thumb_gallery': {0: 'https://tile.loc.gov/storage-services/service/pnp/stereo/1s00000/1s04000/1s04500/1s04563_150px.jpg'},
 'item.title': {0: 'Institute Hall - known as Secession Hall'},
 'related.group_record': {0: '//www.loc.gov/pictures/search/?q=LOT 14110&fi=number&op=PHRASE&va=exact&co=coll&sg=true'},
 'related.neighbors': {0: '//www.loc.gov/pictures/related/?&co=stereo&pk=2015651359&st=gallery&sb=call_number#focus'},
 'dates': {0: nan},
 'number': {0: nan},
 'number_former_id': {0: nan},
 'number_lccn': {0: nan},
 'item.other_control_numbers': {0: nan},
 'item.creator': {0: nan},
 'number_oclc': {0: nan},
 'number_carrier_type': {0: nan},
 'number_source_modified': {0: nan},
 'type': {0: nan},
 'item.raw_collections': {0: nan},
 'item.other_title': {0: nan},
 'item.access_advisory': {0: nan},
 'item.restriction': {0: nan},
 'item.number_former_id': {0: nan},
 'item.stmt_of_responsibility': {0: nan},
 'item.contributor_names': {0: nan},
 'item.part_of': {0: nan},
 'item.source_collection': {0: nan},
 'location_city': {0: nan},
 'location_country': {0: nan},
 'location_state': {0: nan},
 'location_county': {0: nan},
 'split_id': {0: 2015651359},
 'file_id': {0: '2015651359_1s04563r'},
 'MD5_hash': {0: 'c79c4397dae6cba80889b007951341b1'},
 'data_location': {0: 's3://data.labs.loc.gov/stereographs/data/2015651359_1s04563r.jpg'},
 'image_filename': {0: '1s04563r'}}

In [149]:
import os
for index, row in test_df.iterrows():
    image = Image.open('private_materials/data/' + row['file_id'] + '.jpg')
    test_df.loc[index, 'width'] = image.width
    test_df.loc[index, 'height'] = image.height

In [150]:
test_df

,access_restricted,aka,campaigns,contributor,coordinates,date,description,digitized,extract_timestamp,group,...,location_state,location_county,split_id,file_id,MD5_hash,data_location,image_filename,image_size,width,height
0,False,"['http://www.loc.gov/item/2015651359/', 'http:...",[],['osborn & durbec'],"['32.88856,-80.00751']",1860,['1 photograph : print on card mount ; mount 1...,True,2021-09-01T20:42:24.201Z,"['stereo', 'catalog', 'stereograph-cards', 'ma...",...,NaN,NaN,2015651359,2015651359_1s04563r,c79c4397dae6cba80889b007951341b1,s3://data.labs.loc.gov/stereographs/data/20156...,1s04563r,68372,640.0,319.0